<html>
    <head>
        <title>ARIALOGIC</title>
        <link href="tryout.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div class="nav"> 
            <ul>
                <li>HOME</li>
                <li>PAGES</li>
                <li>DROPDOWN</li>
                <li>LINK TEXT</li>
                <li>LINK TEXT</li>
                <li>LONG LINK TEXT</li>                
            </ul>
            <div class="head_title">
                <h1>ARIALOGIC</h1>
            </div>
        
        </div>
        
        <div class="content">
            <div class="content_middle">
                <div class="text">
                    <h1>Mauris integer finibus</h1>
                    <p>
                        Nunc quis arcu congue congue nulla sed nisl libero quis 
                        mollis eros bibendum efficitur praesent placerat dui eu
                        sem sollicitudin fermentum in lobortis urna vitae dui convallis
                        sed pulvinar ipsum.
                    </p>
                </div>
                
                
            </div>
            <div class="buttons_middle">
                    <button>
                        PORTITOR
                    </button>
                    <button>
                        FRINGILLA
                    </button>
            </div>
            
            <div class="content_bottom">
                <h3>Consectur suspendisse</h3>
                <p>
                    Potenti nam aliquet varius dolor ut lobortis morbi sit amet rutrum nunc cras imperdiet consequat eros nec efficitur sed placerat lacus orci sed eleifend odio aliquam vitae 
                    etiam imperdiet feugiat nisl non accumsan ante eleifend.
                </p>
                <div class="box_bottom">
                    <div class="btn_bottom_container">
                        <button>
                            FERMENTUM
                        </button>    
                        <p>Ultrices</p>
                    </div>
                    <div class="btn_bottom_container">
                        <button>
                            HENDRERIT
                        </button>    
                        <p>Posuere</p>
                    </div>
                    <div class="btn_bottom_container">
                        <button>
                            GRAVIDA
                        </button>  
                        <p>Convalis</p>
                    </div>
                    <div class="btn_bottom_container">
                        <button>
                            PORTITOR
                        </button>     
                        <p>Cubilia</p>
                    </div>
                    
                    
                    
                </div>
            </div>
            <div class="content_bottom second">
                <h3>Etiam proin porta interdum</h3>
                <p>
                   Purus vestibulum ante ipsum primis in faucibus orci luctus turpis ullamcorper dolor gravida ut laoreet arcu finibus praesent tincidunt nulla id augue hendrerit ac eleifend 
                   turpis tempor suspendisse fringilla massa nec laoreet.
                </p>
                <div class="box_bottom">
                    <div class="btn_bottom_container who">
                        <div class="who_desc">
                            <h4>A.Does</h4>    
                            <p>Ornare sed nec sagittis nisi nulla 
                                nec aliquam mi interdum et malesua
                                da fames</p>
                        </div>
                        
                        <div class="who_img"></div>
                    </div>
                    <div class="tab_space"></div>
                    <div class="btn_bottom_container who">
                        <div class="who_desc">
                            <h4>A.Does</h4>    
                            <p>Ornare sed nec sagittis nisi nulla 
                                nec aliquam mi interdum et malesua
                                da fames</p>
                            
                        </div>
                        <div class="who_img"></div>
                    </div>
                    
                    
                    
                </div>
            </div>
            
        </div>
        <footer>
            <div class="column">
                <h4>ELEMENTUM ALIQUET</h4>
                <div class="content_column">
                    <ul>
                        <li>Street Name Number, Town, Postcode/Zip</li>
                        <li>
                            +00 (123) 456 7890 <br/>
                            
                            +00 (123) 456 7890
                        </li>
                        <li>+00 (123) 456 7890</li>
                        <li>info@domain.com</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h4>ELEMENTUM ALIQUET</h4>
                <div class="content_column">
                    <ul>
                        <li>Street Name Number, Town, Postcode/Zip</li>
                        <li>
                            +00 (123) 456 7890 <br/>
                            
                            +00 (123) 456 7890
                        </li>
                        <li>+00 (123) 456 7890</li>
                        <li>info@domain.com</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h4>ELEMENTUM ALIQUET</h4>
                <div class="content_column">
                    <ul>
                        <li>Street Name Number, Town, Postcode/Zip</li>
                        <li>
                            +00 (123) 456 7890 <br/>
                            
                            +00 (123) 456 7890
                        </li>
                        <li>+00 (123) 456 7890</li>
                        <li>info@domain.com</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <h4>ELEMENTUM ALIQUET</h4>
                <div class="content_column">
                    <ul>
                        <li>Street Name Number, Town, Postcode/Zip</li>
                        <li>
                            +00 (123) 456 7890 <br/>
                            
                            +00 (123) 456 7890
                        </li>
                        <li>+00 (123) 456 7890</li>
                        <li>info@domain.com</li>
                    </ul>
                </div>
            </div>


 
 
        </footer>
    </body>
    
    
    
</html>
